* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  max-width: 100%;
  font-family: Roboto;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-post {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 95vw;
  max-width: 900px;
  margin-bottom: 50px;
  /* background-color: lightgreen; */
}

.post-link {
  width: 100px;
}
