.link-list {
  flex: 6;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
}

.link-list > h2 {
  font-weight: lighter;
}

table {
  width: 95vw;
  max-width: 950px;
  text-align: left;
  border-collapse: collapse;
  border-bottom: none;
  margin-top: 30px;
}

td {
  padding: 5px;
  word-break: break-word;
}

table td {
  border-bottom: 1px solid lightgray;
}

th {
  padding: 10px;
  background-color: aliceblue;
}

.clickable {
  user-select: none;
}

.clickable:hover {
  background-color: lightcyan;
}

.link:last-of-type > td {
  border-bottom: none;
}

.edit {
  height: 30px;
  width: 30px;
}

a {
  text-decoration: none;
  color: #6593f5;
}

a:hover {
  color: #4682b4;
}
