.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-content,
.edit-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 800px;
  width: 80%;
  max-width: 700px;
  background-color: white;
  border-radius: 5px;
  outline: none;
}

.edit-content {
  height: 600px;
  width: 500px;
}

.heading {
  flex: 1;
  text-align: center;
  padding: 20px 50px 50px 50px;
  width: 100%;
}

.heading > h1 {
  font-weight: normal;
  border-bottom: 1px solid lightgray;
}

.modal-body {
  flex: 9;
  width: 100%;
  padding: 0px 50px 50px 50px;
}

.post-form,
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 9;
  width: 100%;
  margin-bottom: 100px;
}

.inputs input,
.inputs textarea {
  background-color: whitesmoke;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex: 1;
  width: 100%;
}

.cancel {
  order: 2;
  margin-left: 20px;
}
